* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: 'futura';
}

body {
  background-image: url(../images/fried-eggs-seamless-pattern-black-background.jpg);
}

h1 {
  font-size: 5em;
  background-color: #FAAF3B;
}

h1 > .fas {
  font-size: .9em;
}

.mandatory{
  color: tomato;
  font-size: 0.5em;
  margin-left: 10px;
  display: none;   
}

#GG {
  color: mediumaquamarine;
  margin-top: 30px;
  font-size: 2em;
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 40vw;
  min-height: 50vh;
  margin: auto;
  margin-top: 30px;
  padding: 10%;
  padding-top: 10px;
  font-weight: bold;
  border: 5px solid black;
}

label, input {
  font-size: 1.5em;
}

#viewer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 80vw;
  min-height: 50vh;
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
  border: 5px solid black;
  display: none;
}

button {
  width: 10%;
  height: 30px;
  font-size: 1em;
  margin-bottom: 40px;
}

#chickenViewer {
  margin: auto;
  width: 100%;
}

#money {
  font-size: 2em;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Tahoma, sans-serif;
}

#money > span {
  color: #FAAF3B;
}